// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower

/*------------------------------------*\
  #FUNCTIONS
\*------------------------------------*/

@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}


/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

// typography
$baseFontSize: 16;

$modular-scale-base: rem($em-base);

// colors
$white: #fff;

$black: #000;

// animations
$ease-duration: .3s ease-in-out;

/*------------------------------------*\
  #MIXINS
\*------------------------------------*/

@mixin row() {
  display: flex;
  flex-flow: row wrap;
  margin: -1em 0 1em -1em;
}

@mixin column($width, $fit: false) {
  flex: 0 0 $width;
  padding: 1rem 0 0 1rem;

  @if $fit {
    flex: 1;
  } else {
    flex: 0 0 $width;
  }
}

/*------------------------------------*\
  #BASE STYLES
\*------------------------------------*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  background-color: $white;
  color: $black;
  font-family: 'futura-pt', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  transition: all $ease-duration;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

svg,
img {
  width: 100%;
  height: auto;
}

/*------------------------------------*\
  #PAGE HEADER
\*------------------------------------*/

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/*------------------------------------*\
  #PAGE CONTENT
\*------------------------------------*/

.page-content {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/*------------------------------------*\
  #THEMES
\*------------------------------------*/

.dark {
  background-color: $black;
  color: $white;
}

/*------------------------------------*\
  #TOGGLE
\*------------------------------------*/

.toggle__checkbox {
  display: none;
}

.toggle__label {
  position: relative;
  display: block;
  width: modular-scale(6);
  height: modular-scale(3);
  background-color: $black;
  border-radius: 30px;
  font-size: 0;
  transition: background-color $ease-duration;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: modular-scale(-3);
    display: block;
    width: modular-scale(2);
    height: modular-scale(2);
    margin-top: -(modular-scale(2) / 2);
    border-radius: 50%;
    background-color: $white;
    transition: left $ease-duration;
  }
}

.toggle__checkbox:checked + .toggle__label {
  background-color: red;
}

.toggle__checkbox:checked + .toggle__label:after {
  left: modular-scale(6) - rem(30px) - modular-scale(-3);
  background-color: $black;
}

/*------------------------------------*\
  #MESSAGE
\*------------------------------------*/

.message {
  margin: 0;
  font-size: modular-scale(6);
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

  .message__emphasis {
    color: $white;
  }
